@tailwind base;

@tailwind components;

@tailwind utilities;

:root{
 
  --colorPrimary:#00ddff; 
  --colorSecondary:#2fb5ca; 


}

#Header{
  height: 100vh;
}
.textPrimary{
  color: var(--colorPrimary);
}
.bgPrimary{
  background-color: var(--colorSecondary);

}
.black{
  background-color: black;
  z-index: -1;  

  }

.fixed-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999; 
}
.initiallyHidden {
  opacity: 0;
  
}

.aboutMebg{

  background-color: #8b848436;

}

.wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.centeredBox {
	width: 100%;
	text-align: center;
}

/* The Typewriter */

.neon-background  {

  background-image: linear-gradient( 36deg, #00ddff,#3c3383, #00ddff);
  background-size: 200% 200%;

  animation: neonAnimation 4s linear infinite;
}


@keyframes neonAnimation {
  0% {
    background-position: 0% 50% ;
  }
  25% {
    background-position: 89% 25%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 90% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}


/* Estilos iniciales del div */
#miDiv {
  position: relative;
  transform: translateY(100px); /* La posición inicial desde abajo */
 
  transition: transform 1s, opacity 1s; /* Transiciones para animar translateY y opacity */
}

/* Estilos para la animación al mostrar el div */
#miDiv.mostrar {
  transform: translateY(0); /* La posición final, que es la posición original */
  
}
